<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <label for='string'>Enter your phrase: </label>
      <input type='text' name='user_phrase' id='user_phrase'> 
=======
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/pig_latinizer">
      <label for='string'>Phrase To Pig Latinize: </label>
      <input type='text' name='string' id='string'> 
>>>>>>> d6785fdcb67d745ef64e80f76aa4fcbbce710588
      <br>
      <input type='submit' name='submit' id='submit'>
    </form>
  </body>
</html>